{% extends "SBSAdminstrationBundle::tempalte.html.twig" %}

{% block enhead %}
	<h2>Categorie</h2>   
    <h5>Ajouter un nouveau Categorie  </h5>
{% endblock %}

{% block contenu %}
				
 {{ form(form) }}

 {% endblock %}

